<% layout('layouts/boilerplate') %>
  <main>
    <h1>
      <%= accessory.name %>
    </h1>
    <div class="product-container">
      <img src="/images/accessories/<%= accessory.image %>" alt="<%= accessory.name %>" />
      <div id="options-container">
        <form>
          <p>$<%= accessory.price %>
          </p>
          <p>
            <%= accessory.quantity %> in stock
          </p>
          <input type="number" name="quantity" id="quantity" value="1" min="1" max="<%= accessory.quantity %>">
          <button>Add to cart</button>


        </form>
        <form action="/accessories"><button>Back</button></form>
      </div>
    </div>
  </main>