<% layout('layouts/boilerplate') %>

<main>
  <% if (cart.length > 0 || buyList.length > 0){ %>
  <% if (cart.length > 0) {%>
  <h1>Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% for (card of cart){ %>
      <tr>
        <td>
          <%= card.name %>
        </td>
        <td>
          <%= card.quantity %>
        </td>
        <td>
          $<%= card.price %>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td>Total:</td>
        <td><%= cartTotal.quantity %></td>
        <td>$<%= cartTotal.price %></td>
      </tr>
    </tfoot>
  </table>
  <% } %>

  <% if (buyList.length > 0) {%>
  <h1>Buy List</h1>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% for (card of buyList){ %>
      <tr>
        <td>
          <%= card.name %>
        </td>
        <td>
          <%= card.quantity %>
        </td>
        <td>
          $<%= card.price %>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <td>Total:</td>
        <td><%= buyListTotal.quantity %></td>
        <td>$<%= buyListTotal.price %></td>
      </tr>
    </tfoot>
  </table>
  <% } %>


  <form action="/checkout" method="POST">
    <button>Checkout</button>
  </form>
  <% } else { %>
  <p>Your cart is empty</p>
  <% } %>
</main>