<% layout('layouts/boilerplate') %>

<main>
  <% if (cart.length > 0) {%>
  <h1>Cart</h1>
  <table>
    <thead>
      <tr>
        <td>Item</td>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <% for (card of cart){ %>
      <tr>
        <td><img src="<%= card.images.small %>" alt="<%= card.name %>" /></td>
        <td>
          <p><%= card.name %></p>
        </td>
        <td>
          <p><%= card.quantity %></p>
        </td>
        <td>
          <p><%= card.price %></p>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>

  <% if (buyList.length > 0) {%>
  <h1>Buy List</h1>
  <table>
    <thead>
      <tr>
        <td>Item</td>
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
      </tr>
    </thead>
    <tbody>
      <% for (card of buyList){ %>
      <tr>
        <td><img src="<%= card.images.small %>" alt="<%= card.name %>" /></td>
        <td>
          <p><%= card.name %></p>
        </td>
        <td>
          <p><%= card.quantity %></p>
        </td>
        <td>
          <p><%= card.price %></p>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>


  <form action="/checkout" method="POST">
    <button>Checkout</button>
  </form>
</main>