<% layout('layouts/boilerplate') %>

<main>
  <h1>Search results for <%= query %></h1>
  <div class="grid-container">
    <% for (let card of cards){ %>
    <a href="/sell/card/<%= card.id %>">
      <div class="card-container">
        <img src="<%= card.cardImg.small %> " alt="<%= card.name %>" />
        <p>$<%= card.prices.usd %></p>
      </div>
    </a>
    <% } %>
  </div>
</main>