<% layout('layouts/boilerplate') %>
  <main>
    <h1>
      <%= precon.name %>
    </h1>
    <div class="product-container">
      <img src="/images/precons/<%= precon.image %>" alt="<%= precon.name %>" />
      <div id="options-container">
        <form>

          <p>
            <%= precon.quantity %> in stock
          </p>
          <input type="number" name="quantity" id="quantity" value="1" min="1" max="<%= precon.quantity %>">
          <button>Add to cart</button>


        </form>
        <form action="/precons"><button>Back</button></form>
      </div>
    </div>
  </main>