<% layout('layouts/boilerplate') %>
<h1>Cards</h1>
<div class="grid-container">
  <% for (let card of cards){ %>
  <a href="/singles/<%= card.id %>">
    <div class="card-container">
      <img src="<%= card.images.small %> " alt="<%= card.name %>" />
      <p>$<%= card.price %></p>
      <p><%= card.quantity %> in stock</p>
    </div>
  </a>
  <% } %>
</div>